:host {
  display: block;
}

div {
	padding: 16px 16px 16px 1px;
	border: none;
	background: rgba(0, 0, 0, 0.003);
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
  width: 50%;

}
.todotext {
  position: relative;
	margin: 0;
	font-size: 24px;
	font-family: inherit;
	font-weight: inherit;
	border: 0;
	color: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.checked {
  position: relative;
	margin: 0;
	font-size: 24px;
	font-family: inherit;
	font-weight: inherit;
	border: 0;
	color: grey;
  text-decoration: line-through;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.toggle {
  text-align: center;
	width: 40px;
	/* auto, since non-WebKit browsers doesn't support input styling */
	height: auto;
	top: 0;
	bottom: 0;
	margin: auto 0;
	border: none; /* Mobile Safari */
}